/**********************
        Colors
***********************/
/**********************
        Fonts
***********************/
@font-face {
  src: url(../fonts/QCF2001.ttf);
  font-family: font1;
}

/***********************
        Generic
***********************/
*:focus {
  outline: none !important;
  -webkit-box-shadow: 0 !important;
          box-shadow: 0 !important;
}

body {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.primarycolor {
  color: #56c0d0;
}

.dullcolor {
  color: #dbdbdb;
}

.mtb-big {
  margin: 50px 0px 100px 0px;
}

header {
  -webkit-box-shadow: 0;
  box-shadow: 0
}

header .navbar a.navbartoggler {
  border: 1px solid #56c0d0;
  border-radius: 3px;
  padding: 5px 7px 1px 7px;
}

header .navbar a.toggler-detail {
  padding: 5px 3px 3px 7px;
}

header .navbar .fa-bars {
  color: #56c0d0;
  font-size: 18px;
}

header .navbar .fa-bars:hover {
  cursor: pointer;
}

header .navbar .fa-times {
  color: #323232;
  font-size: 16px;
}

header .navbar .sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -265px;
  background-color: #fff;
  -webkit-box-shadow: 5px 0px 15px #dbdbdb;
          box-shadow: 5px 0px 15px #dbdbdb;
  overflow-x: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

header .navbar .sidenav .sidenav-upper {
  margin: 5px 15px;
  padding: 16px 1px;
}

header .navbar .sidenav .sidenavmenu a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #ababab;
  display: block;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

header .navbar .sidenav .sidenavmenu a:hover {
  color: #fff;
  background-color: #56c0d0;
}

header .navbar .sidenav .sidenavmenu a:nth-of-type(1) {
  margin-top: 10px;
}

header .navbar .sidenav .sidenavmenu a i {
  width: 25px;
  text-align: center;
  margin-right: 5px;
}

header .navbar ul {
  list-style-type: none;
  margin-bottom: 0px;
  font-weight: 500;
}

header .navbar ul li {
  padding: 0.5rem;
  font-size: 14px;
}

header .navbar ul li a {
  color: #56c0d0;
  text-decoration: none;
  margin: 0px;
}
.css-jfhehz .dropdown-menu {
  max-height: 245px;
  overflow: auto;
}
header .navbar ul li .dropdown-menu {
  left: -35%;
}

header .navbar ul li .dropdown-menu .dropdown-item {
  color: #56c0d0;
}

header .navbar ul li .dropdown-menu .dropdown-item:hover {
  color: #fff;
  background-color: #56c0d0;
  cursor: pointer;
}
.Selected{
  color: #fff;
  background-color: #56c0d0;
}

header .navbar ul form input[type="text"] {
  background: #f4f4f4 !important;
  color: #56c0d0 !important;
  font-weight: 500 !important;
  border: none;
  outline: none;
}

header .navbar ul form ::-webkit-input-placeholder {
  color: #56c0d0;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
}

header .navbar ul form :-ms-input-placeholder {
  color: #56c0d0;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
}

header .navbar ul form ::-ms-input-placeholder {
  color: #56c0d0;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
}

header .navbar ul form ::placeholder {
  color: #56c0d0;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
}

header .navbar ul form :-ms-input-placeholder {
  color: #56c0d0;
  font-weight: 500;
  font-size: 14px;
}

header .navbar ul form ::-ms-input-placeholder {
  color: #56c0d0;
  font-weight: 500;
  font-size: 14px;
}

header .navbar ul form .fa-search {
  padding: 11px;
  color: #fff;
  background-color: #56c0d0;
  border: transparent;
}

header .navbar .sidenavright {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -360px;
  background-color: #fff;
  -webkit-box-shadow: -5px 0px 10px 0px #dbdbdb;
          box-shadow: -5px 0px 10px 0px #dbdbdb;
  overflow-x: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

header .navbar .sidenavright .fas {
  color: #747474;
  width: 20px;
}

header .navbar .sidenavright .sidenavright-upper h6 {
  margin: 16px 0px;
  color: #747474;
  font-size: 14px;
}

header .navbar .sidenavright .sidenavright-upper2 a {
  color: #747474;
  display: block;
  padding: 5px;
  font-size: 14px;
}

header .navbar .sidenavright .sidenavright-upper2 a i {
  width: 20px;
}

header .navbar .sidenavright .sidenavright-upper2 a:hover {
  text-decoration: none;
}

header .navbar .sidenavright .sidenavright-middle a {
  color: #747474;
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
}

header .navbar .sidenavright .sidenavright-middle a i {
  width: 20px;
}

header .navbar .sidenavright .sidenavright-middle #reciterOptions form {
  font-size: 12px;
  color: #747474;
  margin: 10px;
}

header .navbar .sidenavright .sidenavright-middle #reciterOptions form input {
  margin-top: 10px;
}

header .navbar .sidenavright .sidenavright-middle #translationsOptions form {
  font-size: 12px;
  color: #747474;
  margin: 10px;
}

header .navbar .sidenavright .sidenavright-middle #translationsOptions form input {
  margin-top: 10px;
}

header .navbar .sidenavright .sidenavright-middle #toolTipOptions {
  font-size: 12px;
  color: #747474;
  margin: 10px;
}

header .navbar .sidenavright .sidenavright-lower h6 {
  margin: 16px 0px;
  color: #747474;
  font-size: 14px;
}

header .navbardetail {
  padding-top: 0px;
  padding-bottom: 0px;
}

footer {
  background-color: #0D3656;
}

footer .container {
  padding: 0px 32px;
}


footer .container ul {
  list-style-type: none;
  min-height: 180px;
}

footer .container .footer-content-left ul li {
  margin-bottom: 5px;
}

footer .container .footer-content-left ul li a:hover {
  color: #56c0d0;
}

footer .container .footer-content-left .lead {
  font-size: 16px;
  font-weight: bold;
  min-height: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.footerstyle{
  list-style: none;
  color: white;
  margin-top: 35px;

}

.footerlogo{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

footer .container .footer-content-right .logo-social ul.social-icons {
  list-style-type: none;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(1) {
  margin-right: 20px;
  margin-top: 5px;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(1) a {
  color: #fff;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(1) a:hover {
  color: #3b5998;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(2) {
  margin-right: 20px;
  margin-top: 5px;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(2) a {
  color: #fff;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(2) a:hover {
  color: #1da1f2;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(3) {
  margin-right: 20px;
  margin-top: 5px;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(3) a {
  color: #fff;
}

footer .container .footer-content-right .logo-social ul.social-icons li:nth-of-type(3) a:hover {
  color: #8a3ab9;
}

footer .container .footer-text {
  color: #fff;
  font-size: 14px;
}

.arabic {
  font-family: font1;
  font-size: 40px;
  font-weight: 100;
  color: #000;
}

.arabic-index {
  font-family: font1;
  font-size: 45px;
  font-weight: 300;
  color: #56c0d0;
  float: right;
}

.pointer {
  cursor: pointer;
}

/********************************
    Classes for Javascript
*********************************/
.mobileFooterContentLeft .col-3 {
  margin: 0px;
  padding: 2px;
}

.mobileFooterContentLeft .col-3 p {
  text-align: center;
}

.mobileFooterContentLeft .col-3:nth-of-type(3) p {
  margin-left: 50%;
}

.mobileFooterContentLeft .col-3 li {
  text-align: center;
}

.mobileFooterContentLeft .col-3 li a.small {
  font-size: 0.5em;
}
.langlinks{
  white-space: nowrap !important;
}
.responsiveimg {
  max-width: 100%;
  height: auto;
}

.sidenavvisible {
  left: 0px !important;
}

.sidenavvisibleright {
  right: 0px !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/***********************
        Index Css
************************/
main.indexmain .searchbox {
  width: 584px;
  margin: auto;
  position: relative;
}

main.indexmain .searchbox input[type="text"] {
  padding: 25px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #56c0d0;
  border-radius: 3px;
  float: left;
  width: 100%;
  height: 58px;
  position: relative;
  background: #56c0d0;
  color: #fff;
  border-right: none;
}

main.indexmain .searchbox ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
}

main.indexmain .searchbox :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
}

main.indexmain .searchbox ::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
}

main.indexmain .searchbox ::placeholder {
  color: #fff;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
}

main.indexmain .searchbox :-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

main.indexmain .searchbox ::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

main.indexmain .searchbox .fa-search {
  position: absolute;
  right: 0;
  padding: 20px;
  color: #fff;
}

main.indexmain .container ul.quicklinks {
  margin-bottom: 0px;
  margin-left: -39px;
  color: #ababab;
}

main.indexmain .container ul.quicklinks .btn {
  padding: 6px 10px;
}

main.indexmain .container ul.quicklinks .btn a {
  color: #32a6bc;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

main.indexmain .container ul.quicklinks .btn a:hover {
  color: #459aa7;
  text-decoration: none;
}

main.indexmain .container ul.quicklinks .disabled {
  font-size: 12px;
  font-weight: 500;
  color: #323232;
}

#surahs .container .nav {
  color: #ababab;
}

#surahs .container .nav .nav-item .nav-link {
  color: #747474;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 25px;
}

#surahs .container .nav .nav-item .nav-link .badge {
  color: #fff;
  background-color: #ababab;
  border-radius: 50%;
  height: 22px;
  padding: 5px;
  line-height: 13px;
}

#surahs .container .nav .nav-item .nav-link.active {
  color: #32a6bc;
}

#surahs .container .nav .nav-item .nav-link.active .badge {
  color: #fff;
  background-color: #56c0d0;
}

#surahs .container hr {
  margin-left: 15px;
  margin-right: 15px;
}

#surahs .container .tab-content .tab-pane p.manzil-text-first {
  color: #ababab;
  margin-top: 65px;
  margin-bottom: 30px;
  font-size: 14px;
}

#surahs .container .tab-content .tab-pane p.manzil-text {
  color: #747474;
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 14px;
}

#surahs .container .tab-content .tab-pane .row a {
  text-decoration: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

#surahs .container .tab-content .tab-pane .row a .surahbox {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 30px;
}

#surahs .container .tab-content .tab-pane .row a .surahbox .surah-content-left b {
  color: white;
  font-size: 14px;
}

#surahs .container .tab-content .tab-pane .row a .surahbox .surah-content-left p {
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 11px;
}

#surahs .container .tab-content .tab-pane .row a .surahbox .surah-content-left p .lead {
  font-weight: bold;
  font-size: 15px;
}

#surahs .container .tab-content .tab-pane .row a .surahbox .surah-content-right {
  width: 100px;
}

#surahs .container .tab-content .tab-pane .row a .surahbox .surah-content-right p {
  margin-bottom: 0px;
}

#surahs .container .tab-content .tab-pane .row a .surahbox .surah-content-right .verse-count {
  color: white;
  float: right;
  font-size: 14px;
  margin-bottom: 0px;
}

#surahs .container .tab-content .tab-pane .row a .surahbox .surah-content-right .arabic-index {
  color: white;
}

#surahs .container .tab-content .tab-pane .row:nth-last-of-type(1) {
  margin-bottom: 40px;
}

/***********************
        Details Css
***********************/
main.detailmain .ayatboxouter .ayatrefbox {
  max-height: 265px;
  min-width: 90px;
  background-color: #f4f4f4;
  margin: 40px 0px;
}

main.detailmain .ayatboxouter .ayatrefbox .ref {
  padding: 17px 17px;
}

main.detailmain .ayatboxouter .ayatrefbox .ref .ref-group {
  background-color: #56c0d0;
  height: 40px;
  color: #fff;
}

main.detailmain .ayatboxouter .ayatrefbox .ref .ref-group a {
  color: inherit;
}

main.detailmain .ayatboxouter .ayatrefbox .plycpy {
  padding: 17px 0px;
  line-height: 36px;
}

main.detailmain .ayatboxouter .ayatrefbox .plycpy .plycpy-group {
  font-size: 14px;
}

main.detailmain .ayatboxouter .ayatrefbox .plycpy .plycpy-group a {
  color: #ababab;
  text-decoration: none;
}

main.detailmain .ayatboxouter .ayatrefbox .plycpy .plycpy-group a:hover {
  color: #56c0d0;
}

main.detailmain .ayatboxouter .ayatrefbox .social {
  padding: 14px 0px;
}

main.detailmain .ayatboxouter .ayatrefbox .social .social-group {
  margin: 14px;
}

main.detailmain .ayatboxouter .ayatrefbox .social .social-group a {
  background-color: #dbdbdb;
  border-radius: 50%;
  padding: 14px;
  position: relative;
  display: block;
}

main.detailmain .ayatboxouter .ayatrefbox .social .social-group a i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 0.9em;
}

main.detailmain .ayatboxouter .ayatrefbox .social .social-group a.facustomfacebook:hover {
  background-color: #3b5998;
}

main.detailmain .ayatboxouter .ayatrefbox .social .social-group a.facustomtwitter:hover {
  background-color: #1da1f2;
}

main.detailmain .ayatboxouter .ayatbox {
  min-height: 265px;
  margin: 40px 0px;
  padding: 45px;
  position: relative;
}

main.detailmain .ayatboxouter .ayatbox b:hover {
  color: #56c0d0;
}

main.detailmain .ayatboxouter .ayatbox .translation-box {
  line-height: 30px;
}

main.detailmain .ayatboxouter .ayatbox .translation-box p.translator_name {
  text-transform: uppercase;
  font-size: 12px;
  color: #56c0d0;
  font-weight: bold;
  text-decoration: none;
}

main.detailmain .ayatboxouter .ayatbox .translation-box p {
  color: #ababab;
  font-size: 16px;
}

main.detailmain .ayatboxouter .ayatbox .bayyinah {
  text-decoration: none;
  color: #56c0d0;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  left: 45px;
  bottom: 20px;
}

main.detailmain .ayatboxouter .ayatbox .bayyinah:hover {
  color: #459aa7;
}

main.detailmain hr:nth-last-of-type(1) {
  display: none;
}

/***********************
        Reading Css
***********************/
/* main.readingmain { */
  /* background-color: #f4f4f4; */
/* } */

main.readingmain #surahinfo .row div:nth-of-type(2) {
  background-color: #e8e8e8;
  padding: 20px;
  padding-right: 5px;
}

main.readingmain #surahinfo .row div:nth-of-type(2) h6 {
  color: #a6a6a6;
  font-size: 0.95em;
  font-weight: 700;
  margin-top: 15px;
}

main.readingmain #surahinfo .row div:nth-of-type(2) p {
  font-size: 14px;
  font-weight: 700;
}

main.readingmain #surahinfo .row div:nth-of-type(3) {
  padding: 20px;
}

main.readingmain #surahinfo .row div:nth-of-type(3) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
}

main.readingmain #surahinfo .row div:nth-of-type(3) a i {
  color: #323232;
  margin-right: 28px;
}

main.readingmain #surahinfo .row div:nth-of-type(3) .container-fluid {
  padding-left: 0px;
}

main.readingmain #surahinfo .row div:nth-of-type(3) .container-fluid h6 {
  color: #7a7a7a;
  font-size: 1em;
  font-weight: 700;
}

main.readingmain #surahinfo .row div:nth-of-type(3) .container-fluid p {
  color: #a6a6a6;
  font-size: 14px;
}

.fb-tw-share a {
  margin-left: 5px;
}

.fb-tw-share a i {
  font-size: 20px;
}

.fb-tw-share a .fa-facebook {
  color: #3b5998;
}

.fb-tw-share a .fa-twitter {
  color: #1da1f2;
}

.mainsurah .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainsurah .container-fluid h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.mainsurah .container-fluid h1 b {
  letter-spacing: 10px;
}

.next-previous-surah a {
  margin: 20px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #56c0d0;
  border-color: #dbdbdb;
  border-radius: 30px;
  width: 200px;
  font-weight: 500;
}

.next-previous-surah a i {
  margin-left: 20px;
}

.next-previous-surah a:hover,
.next-previous-surah a:active,
.next-previous-surah a:focus,
.next-previous-surah .btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #56c0d0;
  color: #fff;
  border-color: #56c0d0;
}
/*# sourceMappingURL=style.css.map */
.arabic {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    word-break: break-all;
    direction: rtl;
}
.tooltipmaindiv b.pointer{
  line-height: 90px;
}
button.stripe.dropdown-item {
  font-size: 14px;
}
.tooltipmaindiv div {
  background: #56c0d0 !important;
  border: 1px solid #56c0d0 !important;
  width: max-content !important;
  border-radius: 5px;
    padding: 2px;
}
.tooltipmaindiv div {
  background: #56c0d0 !important;
  border-right: 1px solid #56c0d0 !important;
  border-bottom: 1px solid #56c0d0 !important;
}
.bm-cross-button{
  display: none;
}
.languagemenu,.surrhnum,.versenum {
  box-shadow: 2px 2px 10px 0px #b3b3b3;
}
span.fontweightbold a {
  font-weight: 500;
}
footer .container .footer-content-left ul li {
  margin-bottom: 10px;
}
i.fab.fa-facebook-square,i.fab.fa-twitter,i.fab.fa-instagram {
  font-size: 20px;
}
ul.social-icons.d-flex {
  margin-bottom: 0;
}
ul.quicklinks li ,ul.quicklinks li a{
  font-weight: 600 !important;
}
ul.nav.align-items-center.surrahsnav li a {
  font-weight: 600 !important;
}
#surahs .container .tab-content .tab-pane .row a .surahbox {
  padding: 10px;

  background-color: #32a6bc;
}
.surahbox.d-flex.justify-content-between:hover {
  background-color: #0d5a6e !important;
}
.surahbox.d-flex.justify-content-between:hover b {
  color: #ffffff  !important;
}
.surahbox.d-flex.justify-content-between:hover p {
  color: #ffffff !important;
}
#surahs .container .tab-content .tab-pane .row a .surahbox .surah-content-right .verse-count {
  color: white !important;
  font-weight: 600;
}
.bm-burger-button {
  width: 40px !important;
  height: 38px !important;
  top: 15px !important;
  border: 1px solid #56c0d0;
  border-radius: 5px;
  left: 15px !important;
}
span.bm-burger-bars {
  width: 20px !important;
  left: 8px !important;
  height: 3px !important;
  border-radius: 5px;
}
span.bm-burger-bars:nth-child(1) {
  top: 10px !important;
}
span.bm-burger-bars:nth-child(2) {
  top: 16px !important;
}
span.bm-burger-bars:nth-child(3) {
  top: 23px !important;
}
a.languagename.dropdown-toggle.nav-link {
  font-weight: 500;
}
header {
  position: fixed;
  width: 100%;
  background: #f8f8f9;
  top: 0;
  z-index: 9999;
}
main,div#surahinfo {
  padding-top: 70px;
}
.quicklinks .btn {
  cursor: unset !important;
}
header#hd .dropdown a {
  font-weight: 500;
}
.loader {
  border: 16px solid #3061a7;
  border-radius: 50%;
  border-top: 16px solid #56c0d0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  overflow: hidden;
  display: block;
}
.loader.loadersmall {
  border: 5px solid #3061a7;
  border-radius: 50%;
  border-top: 5px solid #56c0d0;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  overflow: hidden;
  display: block;
}
.wraper_laader {
  padding-top: 15%;
  padding-bottom: 15%;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.infinite-scroll-component {
  overflow-y: hidden !important;
}
.detailheader .dropdown a{
  font-weight: 500;
}
.detailheader a.btn{
  font-weight: 500;
  color: #56c0d0;
}
.dropdown-menu.show {
  box-shadow: 0px 0px 10px 0px grey;
}
p.verse-count {
  color: #d6d5d5 !important;
}
.header_lang{
  position: absolute;
  right:20px;
  top:15px;
  bottom:20px;
  font-size:14px;
}
.header_logo{
  padding:15px;
  margin-left: 60px;
  height: 65px;
  width: 156px;
}
.head{
  height: 70px;
}
#mobileFooterContentLeft .small{
  cursor: pointer;
}
.MuiDrawer-root.MuiDrawer-modal {
  z-index: 99999 !important;
}
body {
  background: #ffffff;
}
p.MuiTypography-root.MuiTypography-body1 {
  font-size: 15px;

}
.bm-burger-button {
  width: 40px !important;
  height: 38px !important;
  top: 0px !important;
  border: 1px solid #56c0d0;
  border-radius: 5px;
  left: 15px !important;
}
.bm-menu-wrap {
  left: 0;
}
.middlebar_header{
  display: block;
  }
  .right_header{
    display: block;
  }
  .middlebar_header_mobile{
    display: none;
    }
    .right_header_mobile{
      display: none;
    }

  #hd .bm-burger-button {
    top: 15px !important;
  }
  span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: 15px;
    color: #747474;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #56c0d0 !important;
}
.MuiCheckbox-colorSecondary:hover {
  background-color: #56c0d038 !important;
}
#surahinfo .row div:nth-of-type(3) {
  padding: 20px 20px 0 20px !important;
}
.prev_btn_btm i {
  float: left;
  padding-top: 4px;
  margin-left: 0 !important;
  margin-right: 0;
}
body {
  overflow: auto !important;
  padding-right: 0 !important;
}
.tooltipmaindiv div div {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
#surahs .container .nav .nav-item .nav-link .badge {
  margin-left: 5px;
}
.detailheader .NightM a:hover{
  color: #56c0d0;
}
.page404.position-ref {
  position: relative;
  font-family: Montserrat, sans-serif;
}
.page404.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.page404.full-height {
  height: 100vh;
}
.page404 .content {
  text-align: center;
}
.page404 .m-b-md {
  margin-bottom: 30px;
}
.page404 .title {
  font-size: 84px;
}
b.pointer.ArabicFontChange {
  padding: 0 2px;
}
.arabictxt_size .font-size-changer:nth-child(1) .font-size-changer-buttons .font-size-up {
  display: none;
}
.arabictxt_size .font-size-changer:last-child .font-size-changer-buttons .font-size-down {
  display: none;
}
.transtxt_size .font-size-changer:nth-child(1) .font-size-changer-buttons .font-size-up {
  display: none;
}
.transtxt_size .font-size-changer:last-child .font-size-changer-buttons .font-size-down {
  display: none;
}

.arabictxt_size .font-size-changer:nth-child(1) .font-size-changer-buttons{
  width: 40px !important;
  margin: auto;
}
.arabictxt_size .font-size-changer:last-child .font-size-changer-buttons{
  width: 40px !important;
  margin: auto;
}
.transtxt_size .font-size-changer:nth-child(1) .font-size-changer-buttons{
  width: 40px !important;
  margin: auto;
}
.transtxt_size .font-size-changer:last-child .font-size-changer-buttons {
  width: 40px !important;
  margin: auto;
}
.font-size-changer-buttons div {
  border: none !important;
}

i.fas.fa-minus ,i.fas.fa-plus{
  color: #56c0d0 !important;
  font-size: 15px;
}
.arabictxt_size h6 ,.transtxt_size h6{
  font-size: 15px;
  margin-bottom: 0;
}
.middlebar_header_mobile form input[type='text'],.middlebar_header form input[type='text']{
  background: #e8e7e7 !important;
}
.cassette .cassette__control_bar {
  background-color: #56c0d0 !important;
}
.cassette .cassette__media_progress_bar .progress {
  background-color: #ddf2f5 !important;
}
button.Selected.stripe.dropdown-item {
  color: white;
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #56c0d0 !important;
}
.MuiRadio-root {
  color: #56c0d0 !important;
}
.MuiCheckbox-root {
  color: #56c0d0 !important;
}
.MuiRadio-colorSecondary:hover {
  background-color: #56c0d02e !important;
}
.MuiIconButton-root:hover {
  background-color: #56c0d02e !important;
}
.cassette .cassette__media_progress_bar {
  width: 85%;
  height: auto;
}
.cassette .cassette__media_progress_bar .progress{
  height: 8px;
  top: 2px !important;
}
.aboutus_banner{
  background-image: url('../img/aboutusbanner.jpg');
  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutus_banner_websitelogo{
  width: 200px;
}
.aboutus_section{
  font-family:Montserrat, sans-serif
}
.aboutus_banner_heading{
  color: white;
}
.about_desc_text h4{
  font-size: 16px;
  font-weight: 400;
  color: #939598;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.about_desc_text h3{
  font-size: 16px;
  font-weight: 600;
  color: #56c0d0;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.about_desc_text h2{
  font-size: 22px;
  font-weight: 600;
  color: #56c0d0;
  line-height: 22px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}
.about_desc_text h4 a{
  color: #56c0d0;
}
.highlight_text_theme{
  color: #56c0d0;
}
.aboutus_banner_container{
  padding-top: 100px;
}
.contactus_banner{
  background-image: url('../img/aboutusbanner.jpg');
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactus_banner_websitelogo{
  width: 200px;
}
.contactus_section{
  font-family:Montserrat, sans-serif
}
.contactus_banner_heading{
  color: white;
}
.about_desc_text h4{
  font-size: 16px;
  font-weight: 400;
  color: #939598;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.about_desc_text h3{
  font-size: 16px;
  font-weight: 600;
  color: #56c0d0;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.about_desc_text h2{
  font-size: 22px;
  font-weight: 600;
  color: #56c0d0;
  line-height: 22px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}
.about_desc_text h4 a{
  color: #56c0d0;
}
.contactus_banner_container{
  padding-top: 100px;
}
.staric_form_label{
  color: red;
}
.contactus_form_submit_btn{
  background: #56c0d0;
  width: 100%;
  border: 2px solid #56c0d0
}
.contactus_form_submit_btn:hover{
  background: #ffffff;
  width: 100%;
  color:#56c0d0;
  border: 2px solid #56c0d0
}
.contactus_section .form-control:focus {
  border-color: #56c0d0;
  box-shadow: 0 0 0 0.2rem rgba(86, 192, 208, 0.49);
}
.search_topbar_pagination{
  padding: 10px;
  margin-top: 20px;
  background: #e7e6e6;
}
.pagination{
  margin: 0;
  float: right;
}
ul.pagination li {
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
  color: #000;
}
ul.pagination li a{
  color: #000;
}
ul.pagination li.active a{
  color: #56c0d0;
}
.verser_box_search {
  padding: 10px 0;
  text-align: center;
  background: #56c0d0;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}
.SearchContent_list .ayatbox .translation-box p.translator_name{
  color: #56c0d0;
  font-weight: 600;
  text-decoration: none;
}
.searchcontent_list_main{
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}
.searchcontent_list_main .tooltipmaindiv b.pointer:hover {
  color: #56c0d0;
}
.detailheader input#search {
  padding: 11px 7px 8px;
  font-size: 14px;
}
.col-12.searchcontent_list_main .hlt1 {
  color: #56c0d0;
}
ul.searchsuggestion_ul {
  position: absolute;
  list-style-type: none;
  padding: 0px;
  background: #f1f1f1;
  box-shadow: 1px 1px 10px -1px grey;
  top: 59px;
  z-index: 999;
  max-height: 250px;
  overflow: auto;
  width: 100%;
    min-width: 100%;
    max-width: 100%;
}
li.searchsuggestion_li {
  border-bottom: 1px solid lightgrey;
}
li.searchsuggestion_li a {
  color: #323232;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-size: 14px;
    font-weight: 500;
}
li.searchsuggestion_li:hover {
  background: #56c0d085;
}
.mainsurah .arabic b.pointer{
  padding-left: 8px;
}
.searchsuggestion_li a em.hlt1{
  color: #56c0d0;
}
.about_desc_text .btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0);
}
.SearchContent_list h4{
  text-align: center;
  display: block;
  width: 100%;
  padding: 10% 20px;
}
.searchsuggestion_ul.small_searchsuggestion_ul{
  top: 40px;
}
.bm-overlay ,.bm-menu-wrap{
  top: 0;
}
.fillspacestxt{
  color: red !important;
}
h6.thankyoutxt {
  padding: 20px;
  background: #28a745;
  color: white;
  margin-bottom: 20px;
}
h6.thankyoutxt i{
  float: right;
  cursor: pointer;
}
.detailsearchbox button{
  height: 40px;
}
.cassette__control_bar {
  bottom: 15px  !important;
  left: 15px  !important;
  max-width: 25%  !important;
  border-radius: 5px  !important;
}
.cassette__control_bar > * {
  height: 25px  !important;
}
.cassette__media_button {
  height: 25px !important;
}
.cassette__skip_button .vertical_bar {
  border-left: 3px solid #fff  !important;
  border-top: 6px solid #fff  !important;
  border-bottom: 6px solid #fff  !important;
}
.cassette__skip_button .right_facing_triangle {
  border-left: 10px solid #fff  !important;
  border-top: 6px solid transparent  !important; 
  border-bottom: 6px solid transparent  !important;
}
.cassette__play_pause_button .foreground {
  position: relative  !important;
  width: 20px  !important;
  height: 20px  !important;
}
.cassette__material_toggle .inner {
  width: 15px  !important;
  height: 15px  !important;
  bottom: 0  !important;
  margin-top: 4px  !important;
}
.cassette__media_time_progress {
  font-size: 12px  !important;
  margin-right: 0  !important;
  margin-top: 15px  !important;
}
.cassette__media_info_marquee {
  font-size: 12px  !important;
  margin-top: 15px  !important;
}
.cassette .cassette__media_progress_bar .progress {
  height: 5px  !important;
  top: 0px !important;
}
.cassette__play_pause_button .left::after{
  border-width: 10px 20px !important;
}
/* .cassette__play_pause_button.playing .left::after, .cassette__play_pause_button.playing .right::after{ */
  /* border-width: 15px 30px !important; */
/* } */
.cassette__play_pause_button.playing .left::after, .cassette__play_pause_button.playing .right::after {
  border-width: 0 30px !important;
  height: 30px !important;
}
#surahinfo .row div:nth-of-type(3) {
  padding: 20px 0px 0 20px !important;
}
.surahinfo_img {
  padding: 0;
}
#surahinfo .row{
  margin: 0 !important;
}
.cassette .cassette__media_progress_bar {
  width: 109%;
}
.cassette__play_pause_button .right::after {
  border-width: 10px 27px !important;
}
.cassette__media_progress_container {
  min-width: 85% !important;
}
.AlwaysSelected .MuiCheckbox-colorSecondary.Mui-checked {
  color: #8d8d8d !important;
}
.MuiList-root button {
  border: 0;
  float: right;
  width: 100%;
  text-align: right;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #56c0d0;
}
.cassette__media_button .foreground {
  opacity: 1 !important;
}
.translator_name{
  cursor: default;
}
.fade.popupmodal_bayan.modal.show {
  z-index: 99999 !important;
}
.popupmodal_bayan .modal-content {
  border: none;
  box-shadow: 0px 0px 7px 0px #c1c1c1;
}
.popupmodal_bayan iframe {
  border: none;
}
.font-size-down,.font-size-up {
  cursor: pointer;
}
.plycpy-group.text-center {
  color: #ababab;
}
.plycpy-group.text-center span{
  cursor: pointer;
}
span.bayyinah {
  cursor: pointer;
}