.btn{
    cursor: pointer;
    font-size:14px
 }
  .sidenavright-upper {
    
    margin: 16px;
    color: #747474;
    font-size: 14px;
    }
    .sidenavright-upper a{
        text-decoration: none;
        color: #747474;
        width: 20px;
      }

.arabic-size{
  padding-top:20px;
  font-size: 14px;
}